@charset "utf-8";

/* FONT-SIZES / LINE-HEIGHTS
12,00   16,00
13,00   17,00
14,00   24,00
15,00   24,00
16,00   18,00
16,00   22,00
16,00   24,00
17,00   24,30
18,00   24,00
22,00   28,00
24,00   30,00
32,00   40,00
35,00   42,00
45,00   45,00
60,00   60,00

BLACK              = 700
BOLD / MEDIUM      = 500
REGULAR / MEDIUM   = 400
****************************/

/*****************************
          BASIC
*****************************/

html,
body {
    margin: 0;
    padding: 0;
}

html {
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    box-sizing: border-box;
    padding: 0 2.3%;
    color: #ffffff;
    background: #849d8f url("../img/bg-light.png") repeat-x left top;
}

img {
    width: 100%;
    height: auto;
}

.clearfix::after,
.icecreams::after {
    display: table;
    clear: both;
    content: "";
}

/*****************************
          FONTS
*****************************/

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;

    src: local("Roboto"), local("Roboto Regular"),
    url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../fonts/roboto-regular-webfont.woff") format("woff"),
    url("../fonts/roboto-regular-webfont.ttf") format("ttf"),
    url("../fonts/roboto-regular-webfont.eot") format("eot");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;

    src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
    url("../fonts/roboto-medium-webfont.woff") format("woff"),
    url("../fonts/roboto-medium-webfont.ttf") format("ttf"),
    url("../fonts/roboto-medium-webfont.eot") format("eot");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;

    src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("../fonts/roboto-bold-webfont.woff") format("woff"),
    url("../fonts/roboto-bold-webfont.ttf") format("ttf"),
    url("../fonts/roboto-bold-webfont.eot") format("eot");
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;

    src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/roboto-black-webfont.woff2") format("woff2"),
    url("../fonts/roboto-black-webfont.woff") format("woff"),
    url("../fonts/roboto-black-webfont.ttf") format("ttf"),
    url("../fonts/roboto-black-webfont.eot") format("eot");
}

/*****************************
          GRID
*****************************/

.column-1 {
    float: left;
    box-sizing: border-box;
    width: 23.35%;
    margin-right: 2.2%;
}

.column-2 {
    float: left;
    box-sizing: border-box;
    width: 48.9%;
    margin-right: 2.2%;
}

.column-3 {
    float: left;
    box-sizing: border-box;
    width: 74.45%;
    margin-right: 2.2%;
}

*[class*="column"]:last-of-type {
    margin-right: 0;
}

/*****************************
          PATTERNS
*****************************/

.pattern-raspberry {
    background: #630f20 url("../img/bg-raspberry.jpg") no-repeat -85px -90px;
    color: #ffffff;
}

.pattern-chocolate {
    background: #40261b url("../img/bg-chocolate.jpg") no-repeat;
    color: #ffffff;
}

.pattern-wafer {
    background: #eadcbe url("../img/bg-wafer.jpg");
    color: #323232;
}

/*****************************
          HEADER
*****************************/

.main-header {
    position: relative;
    min-height: 75px;
    margin-bottom: 25px;
}

.header-logo {
    float: left;
    width: 150px;
    height: 64px;
    margin-right: 15px;
    padding-top: 9px;
    padding-bottom: 2px;
}

.header-logo img {
    position: relative;
    left: -6px;
    display: block;
    width: 154px;
    height: 64px;
}

.header-nav {
    float: left;
    width: 420px;
    min-height: 32px;
    padding-top: 23px;
    padding-bottom: 20px;
}

.header-menu {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-menu > li {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: inline-block;
}

.header-menu > li > a {
    display: block;
    margin: 5px 15px;
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(
    to top,
    transparent 2px,
    rgba(255, 255, 255, 0.4) 2px,
    rgba(255, 255, 255, 0.4) 3px,
    transparent 3px,
    transparent 100%);
}

.header-menu > li > a:hover {
    margin: 0;
    padding: 5px 15px;
    color: #333333;
    border-radius: 15px;
    background-color: #f7f6f3;
    background-image: none;
}

.header-menu > li > a:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px #696969;
}

.header-menu > .current {
    border-radius: 15px;
    background-color: #d07058;
}

.header-menu > li > span {
    display: block;
    padding: 5px 15px;
    cursor: default;
    color: #ffffff;
}

.header-menu > .current > a {
    background-image: none;
    margin: 0;
    padding: 5px 15px;
}

.header-menu > .current:hover {
    /**/
}

.header-menu > li > a:hover + .header-submenu {
    display: block;
}

.header-submenu {
    display: none;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    padding: 4px 0;
    margin: 0;
    position: absolute;
    font-weight: 400;
    color: #333333;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    bottom: -5px;
    z-index: 5;
    left: -5px;
    transform: translateY(100%);
    background-color: #f8f7f4;
    border-radius: 5px;
}

.header-submenu::before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    right: 0;
    top: -5px;
    bottom: 0;
}

.header-submenu:hover {
    display: block;
}

.header-submenu:hover::before {
    top: -10px;
}

.header-submenu > li > a,
.header-submenu > li > span {
    display: block;
    text-decoration: none;
    color: #333333;
    padding: 4px 20px;
    white-space: pre;
}

.header-submenu > li > a:hover {
    background-color: #fbded8;
}

.header-submenu > li > a:active {
    background-color: #f6b5a5;
}

.header-submenu > .current {
    background-color: #d07058;
    color: #ffffff;
    cursor: default;
}

.header-submenu > .current > a,
.header-submenu > .current > span {
    color: #ffffff;
}

.header-submenu-parent {
    position: relative;
    font-weight: 700;
    padding-bottom: 5px;
}

.header-submenu-parent::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 6px;
    right: 8px;
    height: 1px;
    background-color: rgba(53, 53, 53, 0.2);
}

.user-block {
    font-size: 14px;
    line-height: 24px;
    float: right;
    width: 270px;
    min-height: 32px;
    padding-top: 23px;
    padding-bottom: 20px;
}

.user-block > * > a {
    font-weight: 500;
    display: block;
    box-sizing: border-box;
    padding: 4px 0;
    text-decoration: none;
    color: #ffffff;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    background-repeat: no-repeat;
}

.header-cart {
    position: relative;
    float: right;
    margin-left: 10px;
}

.header-cart > a {
    min-width: 117px;
    padding-left: 45px;
    padding-right: 5px;
    background-image: url("../img/icon-cart.svg");
    background-position: 15px center;
}

.header-cart > a:hover {
    color: #313131;
    background-color: #f8f7f4;
    background-image: url("../img/icon-cart-hover.svg");
}

.header-cart > a:active {
    background-image:
            url("../img/icon-cart-hover.svg"),
            linear-gradient(#ededed, #ededed);
    background-position: 15px center, center;
    box-shadow: inset 0 2px 1px #696969;
}

.header-cart.have-items > a {
    color: #313131;
    background-color: #f8f7f4;
    background-image: url("../img/icon-cart-full.svg");
}

.header-cart.have-items > a:hover {
    background-image: url("../img/icon-cart-full.svg");
}

.header-cart.have-items:hover .cart-container {
    display: block;
}

.cart-container {
    display: none;
    position: absolute;
    padding: 25px 20px 20px 15px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    bottom: -5px;
    z-index: 5;
    right: 0;
    transform: translateY(100%);
    background-color: #f8f7f4;
    color: #333333;
    font-size: 13px;
    line-height: 17px;
    border-radius: 5px;
    width: 510px;
}

.cart-container::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 10px;
    right: 117px;
    top: -100px;
    bottom: 0;
}

.cart-container::after {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    right: 0;
    top: -5px;
    bottom: 0;
}

.cart-items {
    display: table;
    border-collapse: collapse;
    border-bottom: 1px solid #cacac7;
    margin-bottom: 10px;
}

/*.cart-items > * > * {
    box-shadow: inset 0 0 0 1px tomato;
}*/

.cart-item {
    display: none;
}

.cart-item.in-cart {
    display: table-row;
}

.cart-item > * {
    display: table-cell;
}

.cart-item .x-button {
    position: relative;
    font-size: 0;
    width: 10px;
    cursor: pointer;
    padding-right: 15px;
}

.cart-item .x-button::before,
.cart-item .x-button::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 12px;
    margin-top: 16px;
    background-color: #353535;
    left: 0;
    top: 0;
}

.cart-item .x-button::before {
    transform: rotate(-45deg);
}

.cart-item .x-button::after {
    transform: rotate(45deg);
}

.cart-item-image {
    width: 33px;
    height: 33px;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.cart-item-image img {
    width: 33px;
    height: 33px;
    display: block;
}

.cart-item-name,
.cart-item-calc,
.cart-item-total {
    padding: 10px 15px 25px;
}

.cart-item:last-child .cart-item-name,
.cart-item:last-child .cart-item-calc,
.cart-item:last-child .cart-item-total {
    padding: 10px 15px 15px;
}

.cart-item-calc,
.cart-item-total {
    white-space: pre;
}

.cart-item-price {
    color: #7f7f7f;
}

.cart-container .total {
    display: block;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: right;
    font-weight: 900;
}

.cart-container .btn {
    float: right;
    font-size: 15px;
    line-height: 24px;
    padding: 5px 20px;
}

.header-login {
    position: relative;
    float: right;
    margin-left: 10px;
}

.header-login > a {
    width: 93px;
    padding-left: 45px;
    background-image: url("../img/icon-login.svg");
    background-position: 15px center;
}

.header-login > a:hover {
    color: #323232;
    background-color: #f8f7f4;
    background-image: url("../img/icon-login-hover.svg");
}

.header-login > a:active {
    background-image:
            url("../img/icon-login-hover.svg"),
            linear-gradient(#ededed, #ededed);
    background-position: 15px center, center;
    box-shadow: inset 0 2px 1px #696969;
}

.header-login:hover form {
    display: block;
}

.header-login form {
    display: none;
    position: absolute;
    padding: 20px 15px 15px;
    color: #333333;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    bottom: -5px;
    z-index: 5;
    right: 0;
    transform: translateY(100%);
    background-color: #f8f7f4;
    border-radius: 5px;
}

.header-login form::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 10px;
    right: 93px;
    top: -100px;
    bottom: 0;
}

.header-login form::after {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    right: 0;
    top: -5px;
    bottom: 0;
}

.header-login input {
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 240px;
    padding: 7px 15px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #d3d3d2;
}

.header-login input:hover {
    box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.5);
}

.header-login input:focus {
    box-shadow: inset 0 0 0 2px rgba(46, 136, 227, 0.5);
}

.header-login input:last-of-type {
    margin-bottom: 15px;
}

.header-login .btn {
    display: block;
    float: left;
    padding: 5px 30px;
    font-size: 15px;
    line-height: 24px;
}

.header-login .other {
    display: block;
    float: right;
    width: 125px;
}

.header-login .other a {
    display: block;
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    color: #333333;
}

.header-login .other a:hover {
    text-decoration: none;
}

.header-search {
    position: relative;
    float: right;
}

.header-search > a {
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-search.svg");
    background-position: center;
}

.header-search > a:hover {
    background-color: #f8f7f4;
    background-image: url("../img/icon-search-hover.svg");
}

.header-search > a:active {
    background-image:
            url("../img/icon-search-hover.svg"),
            linear-gradient(#ededed, #ededed);
    box-shadow: inset 0 2px 1px #696969;
}

.header-search:hover form {
    display: block;
}

.header-search form {
    display: none;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    position: absolute;
    color: #333333;
    padding: 15px;
    bottom: -5px;
    z-index: 5;
    right: 0;
    transform: translateY(100%);
    background-color: #f8f7f4;
    border-radius: 5px;
}

.header-search form::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 30px;
    right: 32px;
    top: -100px;
    bottom: 0;
}

.header-search form::after {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    right: 0;
    top: -5px;
    bottom: 0;
}

.header-search input {
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 310px;
    padding: 7px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #d3d3d2;
}

.header-search input:hover {
    box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.5);
}

.header-search input:focus {
    box-shadow: inset 0 0 0 2px rgba(46, 136, 227, 0.5);
}

.header-info {
    line-height: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 175px;
    min-height: 40px;
    transform: translateY(100%);
    text-align: right;
}

.header-tel,
.header-schedule {
    margin: 0;
    padding: 0;
}

.header-schedule {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.header-tel {
    font-size: 22px;
    font-weight: 700;
}

/*****************************
          INDEX
*****************************/

body.first-slide {
    background: #849d8f url("../img/slide-01.png") no-repeat center top;
}

body.second-slide {
    background: #8996a6 url("../img/slide-02.png") no-repeat center top;
}

body.third-slide {
    background: #9d8b84 url("../img/slide-03.png") no-repeat center top;;
}

.index-slider {
    margin-top: 320px;
    margin-bottom: 40px;
}

.index-slider-titles h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    width: 680px;
    min-height: 105px;
    margin: 0 auto 30px;
    text-align: center;
}

.index-slider-titles .hidden {
    display: none;
}

.index-slider .btn {
    font-size: 32px;
    line-height: 40px;
    display: block;
    box-sizing: border-box;
    width: 280px;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.75);
}

.index-slider-radio {
    font-size: 0;
    line-height: 0;
    padding-top: 20px;
    padding-bottom: 22px;
}

.index-slider-radio input {
    display: none;
}

.index-slider-radio input:checked + label {
    background-color: #ffffff;
}

.index-slider-radio label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0;
    margin-right: 8px;
    padding: 0;
    content: "";
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.index-slider-radio label:hover {
    background-color: rgba(248, 247, 244, 0.4);
}

.promo-blocks {
    margin-bottom: 40px;
}

.promo-item {
    font-weight: 500;
    position: relative;
    box-sizing: border-box;
    min-height: 230px;
    padding: 15px 20px 75px;
    border-radius: 15px;
}

.promo-title {
    font-size: 35px;
    line-height: 42px;
    display: block;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.promo-item p {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.promo-item .btn {
    position: absolute;
    right: 20px;
    bottom: 25px;
    float: right;
}

.index-page .icecream-item {
    margin-bottom: 0;
}

.about-container {
    margin-bottom: 40px;
    padding: 25px 20px;
    color: #323232;
    border-radius: 15px;
}

.about-container h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    margin-bottom: 25px;
}

.about-list {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-item {
    font-size: 16px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 48.9%;
    margin-right: 2.2%;
    margin-bottom: 20px;
    padding-left: 55px;
    vertical-align: top;
}

.about-item:nth-last-child(1),
.about-item:nth-last-child(2) {
    margin-bottom: 0;
}

.about-item:nth-child(even) {
    margin-right: 0;
}

.about-item::before {
    position: absolute;
    top: -10px;
    left: 0;
    width: 47px;
    height: 47px;
    content: "";
}

.icon-icecream::before {
    background-image: url("../img/icon-icecream.svg");
}

.icon-cow::before {
    background-image: url("../img/icon-cow.svg");
}


.icon-leaf::before {
    background-image: url("../img/icon-leaf.svg");
}

.icon-thermometer::before {
    background-image: url("../img/icon-thermometer.svg");
}

.other-blocks {
    margin-bottom: 40px;
}

.other-item {
    min-height: 220px;
    padding: 25px 20px;
    border-radius: 15px;
}

.other-blog {
    color: #5a5a5a;
    background: #ffffff url("../img/bg-strawberry.jpg") no-repeat right 20%;
}
.other-blog h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    margin-bottom: 5px;
}

.other-blog a {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #353535;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 0 0 rgba(255, 255, 255, 0.8);
}

.other-newsletter {
    position: relative;
    padding: 30px 20px 90px;
    color: #5a5a5a;
    border: 5px solid transparent;
    background: linear-gradient(#f8f7f4, #f8f7f4),
    url("../img/bg-mail-border.png") 16px 16px,
    linear-gradient(#f8f7f4, #f8f7f4);
    background-color: #f8f7f4;
    background-clip: padding-box, border-box, border-box;
}

.other-newsletter p {
    margin: 0;
}

.other-newsletter form {
    position: absolute;
    right: 20px;
    bottom: 35px;
    left: 20px;
    padding-right: 140px;
}

.other-newsletter input {
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #d3d3d2;
}

.other-newsletter input:hover {
    box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.5);
}

.other-newsletter input:focus {
    box-shadow: inset 0 0 0 2px rgba(46, 136, 227, 0.5);
}

.other-newsletter .btn {
    font-size: 17px;
    line-height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 130px;
    padding: 10px 0;
}

/*
.index-map {
    height: 430px;
}

.index-map-wide {
    position: absolute;
    left: 0;
    right: 0;
    height: 430px;
    background: url("../img/map-marker.png") no-repeat 267px 139px,
    url("../img/bg-map.png") no-repeat;
    background-color: #ffffff;
}
*/

.index-map {
     position: relative;
     height: 430px;
     margin: 0 -2.3% 40px;
     background: url("../img/map-marker.png") no-repeat 267px 139px,
     url("../img/bg-map.png") no-repeat;
     background-color: #ffffff;
 }

/* ЦЕНТР КАРТЫ
.index-map::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: tomato;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.index-map-contacts {
    z-index: 5;
    font-size: 14px;
    position: absolute;
    top: 65px;
    right: 2.3%;
    overflow: auto;
    width: 250px;
    height: 190px;
    padding: 30px 25px 85px;
    color: #343434;
    border-radius: 15px;
    background-color: #ffffff;
}

.index-map-contacts h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.index-map-contacts p {
    margin: 0;
    margin-bottom: 15px;
}

.index-map-contacts > div:last-of-type p {
    margin-bottom: 0;
}

.index-map-contacts strong {
    font-size: 18px;
}

.index-map-address strong {
    line-height: 24px;
}

.index-map-tel h2 {
    margin-bottom: 3px;
}

.index-map-tel p {
    line-height: 22px;
}

.index-map-tel strong {
    line-height: 22px;
}

.index-map-contacts .btn {
    position: absolute;
    right: 25px;
    bottom: 30px;
    left: 25px;
}

.index-page main > *:last-child {
    margin-bottom: 0;
}

/*****************************
          PAGE
*****************************/

.page-header {
    min-height: 65px;
    margin-bottom: 25px;
}

.breadcrumbs {
    font-size: 0;
    margin: 0;
    margin-right: 180px;
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    font-size: 14px;
    line-height: 24px;
    position: relative;
    display: inline-block;
    margin-right: 8px;
    padding-right: 14px;
}

.breadcrumbs li:not(:last-child)::after {
    position: absolute;
    right: 0;
    content: "»";
}

.breadcrumbs a {
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.4) 1px,
    transparent 1px,
    transparent 100%);
}

.breadcrumbs a:hover {
    color: #ffbc9e;
    background-image: linear-gradient(
    to top,
    rgba(249, 172, 159, 0.3) 1px,
    transparent 1px);
}

.breadcrumbs .current {
    cursor: default;
}

.page-title {
    font-size: 35px;
    line-height: 42px;
    margin: 0;
}

body:not(.index-page) main {
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btn {
    font: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    display: inline-block;
    padding: 11px 23px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #ec593c;
    background-image: linear-gradient(
    to top,
    #e74a35,
    #f26843);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
    background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)),
    linear-gradient(
    to top,
    #e74a35,
    #f26843);
}

.btn:active {
    background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.07),
    rgba(0, 0, 0, 0.07)),
    linear-gradient(
    to top,
    #e74a35,
    #f26843);
    box-shadow: inset 0 2px 2px #942718;
}

/*****************************
          CATALOG
*****************************/

.catalog-filter {
    font-size: 0;
    width: 860px;
    min-height: 130px;
    margin-bottom: 40px;
}

.catalog-filter fieldset {
    display: inline-block;
    box-sizing: border-box;
    min-height: 60px;
    margin: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 0;
    vertical-align: bottom;
    border: 0;
    outline: 0;
}

.catalog-filter legend {
    font-size: 14px;
    line-height: 24px;
    padding-left: 15px;
}

.catalog-filter .filter-sort {
    font-size: 16px;
    width: 195px;
}

.filter-sort-container {
    position: relative;
    width: 190px;
    padding: 7px 15px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    background: url("../img/arrow-down.svg") no-repeat 170px center;
    background-color: rgba(248, 247, 244, 0.2);

            appearance: none;
    -webkit-appearance: none;
}

.filter-sort-container:focus {
    outline: none;
}

.filter-sort-container:hover {
    font-weight: 500;
    color: #343434;
    background-color: #ffffff;
    background-image: url("../img/arrow-down-hover.svg");
}


.filter-sort-container option {
    color: #000000;
}

.catalog-filter .filter-price {
    width: 220px;
}

.filter-price-container {
    position: relative;
    width: 220px;
    height: 36px;
    border-radius: 15px;
    background-color: rgba(248, 247, 244, 0.2);
}

.range-line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 190px;
    height: 4px;
    transform: translate(-50%, -50%);
    background-color: rgba(248, 247, 244, 0.5);
}

.range-line::before {
    position: absolute;
    left: 30px;
    width: 100px;
    height: 4px;
    content: "";
    background-color: rgb(248, 247, 244);
}

.range-circles,
.range-circles::after {
    position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(248, 247, 244);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.range-circles {
    top: -8px;
    left: 30px;
    transform: translateX(-50%);
}

.range-circles::after {
    left: 100px;
}

.catalog-filter .filter-fat {
    font-size: 16px;
    width: 415px;
    margin-right: 0;
}

.filter-fat-container {
    font-size: 0;
    padding: 7px 15px;
    border-radius: 15px;
    background-color: rgba(248, 247, 244, 0.2);
}

.filter-fat-container input {
    display: none;
}

.filter-fat-container label {
    font-size: 16px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    padding-left: 30px;
    vertical-align: top;
    cursor: pointer;
}

.filter-fat-container label::selection {
    background-color: transparent;
}

.filter-fat-container label:last-of-type {
    margin-right: 0;
}

.filter-fat-container label::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    transform: translateY(-50%);
    background: url("../img/radio.svg") no-repeat center;
    background-size: 20px;
}

.filter-fat-container label:hover::before {
    background-image: url("../img/radio-hover.svg");
}

.filter-fat-container input[type="radio"]:checked + label::before {
    background-image: url("../img/radio-checked.svg");
}

.filter-fat-container input[type="radio"]:checked + label:hover::before {
    background-image: url("../img/radio-checked-hover.svg");
}

.filter-fat-container input[type="radio"]:disabled + label,
.filter-fat-container input[type="radio"][readonly] + label {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

.catalog-filter .filter-topping {
    font-size: 16px;
    width: 705px;
    margin-right: 10px;
    margin-bottom: 0;
}

.filter-topping-container {
    font-size: 0;
    padding: 7px 15px;
    border-radius: 15px;
    background-color: rgba(248, 247, 244, 0.2);
}

.filter-topping-container input {
    display: none;
}

.filter-topping-container label {
    font-size: 16px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    padding-left: 30px;
    vertical-align: top;
}

.filter-topping-container label::selection {
    background-color: transparent;
}

.filter-topping-container label:last-of-type {
    margin-right: 0;
}

.filter-topping-container label::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    transform: translateY(-50%);
    background: url("../img/checkbox.svg") no-repeat center;
    background-size: 20px;
}

.filter-topping-container label:hover::before {
    background-image: url("../img/checkbox-hover.svg");
}

.filter-topping-container input[type="checkbox"]:checked + label::before {
    background-image: url("../img/checkbox-checked.svg");
}

.filter-topping-container input[type="checkbox"]:checked + label:hover::before {
    background-image: url("../img/checkbox-checked-hover.svg");
}

.filter-topping-container input[type="checkbox"]:disabled + label,
.filter-topping-container input[type="checkbox"][readonly] + label {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

.catalog-filter .filter-btn {
    display: inline-block;
    vertical-align: bottom;
    font: inherit;
    font-size: 16px;
    box-sizing: border-box;
    width: 145px;
    height: 36px;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #fafbfb;
    border-radius: 15px;
    outline: none;
    background-color: rgba(248, 247, 244, 0.2);
}

.catalog-filter .filter-btn:hover {
    font-weight: 500;
    color: #363636;
    background-color: #fafbfb;
}

.catalog-filter .filter-btn:active {
    padding: 6px 0;
    border: none;
    background-image: linear-gradient(#ededed, #ededed);
    box-shadow: inset 0 2px 1px #696969;
}

.icecreams {
    font-size: 0;
    margin-bottom: 40px;
}

.icecream-item {
    font-size: 16px;
    position: relative;
    display: inline-block;
    width: 23.35%;
    min-height: 250px;
    margin-right: 2.2%;
    margin-bottom: 40px;
    vertical-align: top;
}

.icecream-item:nth-child(4n) {
    margin-right: 0;
}

.icecream-item:hover {
    z-index: 5;
}

.icecream-header {
    position: relative;
    margin-bottom: 10px;
}

.icecream-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.icecream-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.icecream-hit::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    content: "";
    border-radius: 50%;
    background: url("../img/icecream-hit.png") no-repeat;
}

.icecream-price {
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    position: absolute;
    bottom: 20px;
    left: 0;
    cursor: default;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.icecream-weight {
    font-size: 30px;
    position: relative;
    padding-left: 37px;
}

.icecream-weight::before {
    position: absolute;
    bottom: 2px;
    left: 4px;
    width: 32px;
    height: 37px;
    content: "";
    background-image: url("../img/rouble-sign.svg");
}

.icecream-name {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0 8px;
    text-align: center;
}

.icecream-link {
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(
    to top,
    transparent 1px,
    rgba(255, 255, 255, 0.4) 1px,
    rgba(255, 255, 255, 0.4) 2px,
    transparent 2px,
    transparent 100%);
}

.icecream-item:hover .icecream-link {
    background-image: none;
}

.icecream-item .btn {
    font-size: 15px;
    line-height: 25px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    left: 15px;
    box-sizing: border-box;
    padding: 5px 0;
}

.icecream-footer {
    position: absolute;
    z-index: -1;
    top: -10px;
    right: -10px;
    bottom: -75px;
    left: -10px;
    display: none;
    border-radius: 5px;
    background-color: rgba(248, 247, 244, 0.3);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.icecream-item:hover .icecream-footer {
    display: block;
}

.pagination {
    float: right;
    min-width: 190px;
    min-height: 25px;
    margin-bottom: 30px;
}

.pagination ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination li {
    font-size: 16px;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 3px;
    vertical-align: top;
}

.pagination li:last-child {
    margin-right: 0;
}

.pagination a {
    display: block;
    width: 26px;
    height: 22px;
    padding: 3px 0 1px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #ffffff;
}

.pagination a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-prev {
    background: url("../img/arrow-left.svg") no-repeat center;
    background-size: 9px 14px;
}

.pagination-next {
    background: url("../img/arrow-right.svg") no-repeat center;
    background-size: 9px 14px;
}

.pagination .current {
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 50%;
}

.pagination span {
    display: block;
    width: 26px;
    height: 22px;
    padding: 3px 0 1px;
    text-align: center;
    color: #000000;
}

.pagination .current,
.pagination .disabled {
    cursor: default;
}

.pagination .disabled {
    opacity: 0.2;
}

/*****************************
          FOOTER
*****************************/

.main-footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-social {
    font-size: 0;
}

.social-btn {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: top;
    opacity: 0.8;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-btn:hover {
    border-color: rgba(255, 255, 255, 0.7);
}

.social-btn:last-child {
    margin-right: 0;
}

.social-btn::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.social-btn:hover::after {
    opacity: 1;
}

.social-btn:active::after {
    border-radius: 50%;
    box-shadow: inset 0 2px 1px #888888;
}

.social-btn-twitter::after {
    background-image: url("../img/social-twitter.svg");
}

.social-btn-instagram::after {
    background-image: url("../img/social-instagram.svg");
}

.social-btn-facebook::after {
    background-image: url("../img/social-facebook.svg");
}

.social-btn-vk::after {
    background-image: url("../img/social-vk.svg");
}

.footer-nav nav {
    font-size: 13px;
    line-height: 17px;
    display: table;
    margin: 0 auto;
}

.footer-nav ul {
    display: table-row;
    padding: 0;
    list-style: none;
}

.footer-nav li {
    display: table-cell;
    padding-right: 30px;
    border-bottom: 5px solid transparent;
}

.footer-nav li:last-child {
    padding-right: 0;
    border-bottom: none;
}

.footer-nav a {
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.4) 1px,
    transparent 1px);
}

.footer-nav a:hover {
    color: #ffbc9e;
    background-image: linear-gradient(
    to top,
    rgba(249, 172, 159, 0.3) 1px,
    transparent 1px);
}

.footer-nav-favorite {
    font-weight: 500;
    position: relative;
}

.footer-nav-favorite::before {
    position: absolute;
    top: 50%;
    left: -5px;
    width: 15px;
    height: 13px;
    content: "";
    transform: translate(-100%, -50%);
    background: url("../img/icon-hearth.svg") no-repeat center;
}

.copyright-logo {
    float: right;
    width: 107px;
    height: 36px;
    margin: 0;
    margin-bottom: 5px;
    padding-right: 80px;
}

.copyright-logo img {
    width: 107px;
    height: 36px;
}

.footer-copyright p {
    font-size: 12px;
    line-height: 16px;
    clear: both;
    margin: 0;
    text-align: right;
}

.footer-copyright a {
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.4) 1px,
    transparent 1px);
}

.footer-copyright a:hover {
    color: #ffbc9e;
    background-image: linear-gradient(
    to top,
    rgba(249, 172, 159, 0.3) 1px,
    transparent 1px);
}

/*****************************
          FRAMES
*****************************/

/* overlay */

.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay.opened {
    display: block;
}

/* map frame */

.feedback-frame {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #f8f7f4;
    padding: 15px 25px;
    min-height: 410px;
    width: 430px;
    color: #343434;
    display: none;
}

.feedback-frame.opened {
    display: block;
}

@keyframes bounce {
    0% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(10px)}
    20%, 40%, 60%, 80% {transform: translateX(-10px)}
    100% {transform: translateX(0);}
}

.feedback-frame-error {
    animation: bounce .6s;
}

.feedback-frame strong {
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.feedback-frame label {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.feedback-frame .input-label {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #656565;
    transition: 0.3s;
    cursor: text;
}

.feedback-frame input[name="name"] + .input-label {
    left: 15px;
}

.feedback-frame input:focus + .input-label,
.feedback-frame input:valid + .input-label,
.feedback-frame textarea:focus + .input-label,
.feedback-frame textarea:valid + .input-label {
    top: 0;
    transform: translate(5px, -100%);
    color: #5b9ddf;
    font-size: 11px;
    line-height: 17px;
}

.feedback-frame input,
.feedback-frame textarea {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.5);
    background-color: #ffffff;
}

.feedback-frame label:hover input,
.feedback-frame label:hover textarea {
    box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.5);
}

.feedback-frame label:hover input:focus,
.feedback-frame label:hover textarea:focus {
    box-shadow: inset 0 0 0 2px rgba(46, 136, 227, 0.5);
}

.feedback-frame input[name="name"] {
    padding: 10px 15px;
}

.feedback-frame input {
    width: 265px;
}

.feedback-frame textarea {
    height: 155px;
    resize: none;
}

.feedback-frame form *:nth-last-child(2) {
    margin-bottom: 25px;
}

.feedback-frame .btn {
    display: block;
    float: right;
}

.feedback-frame .x-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 45px;
    cursor: pointer;
    background: url("../img/x-button-big.png") no-repeat center;
}

/*.feedback-frame .x-button::before,
.feedback-frame .x-button::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    top: 50%;
    left: 50%;
    background-color: #343434;
}

.feedback-frame .x-button::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.feedback-frame .x-button::after {
    transform: translate(-50%, -50%) rotate(45deg);
}*/

/*****************************
          РАЗМЕТКА
*****************************/

/*

body > * {
    background-color: rgba(255, 99, 71, 0.3);
    box-shadow: inset 0 0 0 2px rgb(255, 99, 71);
}

body > * > * {
    background-color: rgba(115, 255, 121, 0.3);
    box-shadow: inset 0 0 0 2px rgb(115, 255, 121);
}

body > * > * > * {
    background-color: rgba(165, 180, 255, 0.3);
    box-shadow: inset 0 0 0 2px rgb(165, 180, 255);
}

*/
